@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body, html {
  min-height: 100%;
  background: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0 !important;
}

a {
  text-decoration: none;
  color: #000;

  &:active, &:hover, &:visited {
    color: inherit;
  }
}

.v-main {
  margin-top: 85px;
}

.category__item {
  * {
    box-shadow: none;
  }
  .v-expansion-panel-header__icon {
    display: none !important;
  }
  .v-expansion-panel-content__wrap {
    padding: 0;
  }
}

.v-expansion-panel:not(:first-child)::after {
  border-color: transparent !important;
}
