@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body, html {
  min-height: 100%;
  background: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0 !important;
}

a {
  text-decoration: none;
  color: #000;

  &:active, &:hover, &:visited {
    color: inherit;
  }
}

.v-main {
  margin-top: 85px;
}

.category__item {
  * {
    box-shadow: none;
  }
  .v-expansion-panel-header__icon {
    display: none !important;
  }
  .v-expansion-panel-content__wrap {
    padding: 0;
  }
}

.v-expansion-panel:not(:first-child)::after {
  border-color: transparent !important;
}

.page {
  height: 100%;

  .loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
  }
}
.breadcrumbs {
  display: flex;
  justify-content: center;
  margin: 10px 0 30px;

  ul {
    display: flex;

    @media(max-width: 768px) {
      flex-wrap: wrap;
      justify-content: center;
    }

    li {
      font-size: 16px;
      display: flex;
      align-items: center;
      letter-spacing: 0.5px;

      &:last-child {
        color: #7FAD39;
      }

      &:not(:last-child) {
        padding-right: 15px;
        margin-right: 10px;
        position: relative;

        &:before {
          content: '›';
          position: absolute;
          right: 0;
          font-size: 22px;
          height: 100%;
          line-height: 1;
        }
      }

      a {
        color: #000;
      }
    }
  }
}

section.content {
  margin-bottom: 60px;

  table {
    width: 100%;
  }
}

.blog__html {
  @media(max-width: 768px) {
    * {
      width: 100% !important;
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
  }
}

.checkout {
  .v-input__slot {
    box-shadow: none !important;
    border: 1px solid #DEE2E6;
  }
}
