@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body, html {
  min-height: 100%;
  background: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

@media(max-width: 600px) {
  html {
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }
  body {
    position: absolute;
    top: 0.5px;
    left: 0;
    bottom: 0.5px;
    right: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
  }
  .v-main__wrap {
    position: fixed !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-top: 56px !important;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0 !important;
}

a {
  text-decoration: none;
  color: #000;

  &:active, &:hover, &:visited {
    color: inherit;
  }
}

.category__item {
  * {
    box-shadow: none;
  }
  .v-expansion-panel-header__icon {
    display: none !important;
  }
  .v-expansion-panel-content__wrap {
    padding: 0;
  }
}

.v-expansion-panel:not(:first-child)::after {
  border-color: transparent !important;
}

.page {

  @media(min-width: 601px) {
    padding-top: 124px;
  }

  @media(max-width: 768px) {

    > .container {
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    .title, h1 {
      display: none !important;
    }
  }

  .loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
  }

  h1 {
    display: flex;
    width: 100%;
    justify-content: center;
    text-transform: capitalize;
    margin: 10px 0;
    text-align: center;
  }
}

.breadcrumbs {
  display: flex;
  justify-content: center;
  margin: 10px 0 30px;

  @media(max-width: 768px) {
    margin-bottom: 10px;

    &-wrapper {
      padding-bottom: 0 !important;
    }
  }

  ul {
    display: flex;

    @media(max-width: 768px) {
      flex-wrap: wrap;
      justify-content: center;
    }

    li {
      font-size: 16px;
      display: flex;
      align-items: center;
      letter-spacing: 0.5px;

      &:last-child {
        color: #7FAD39;
      }

      &:not(:last-child) {
        padding-right: 15px;
        margin-right: 10px;
        position: relative;

        &:before {
          content: '›';
          position: absolute;
          right: 0;
          font-size: 22px;
          height: 100%;
          line-height: 1;
        }
      }

      a {
        color: #000;
      }
    }
  }
}

section.content {
  margin-bottom: 60px;

  table {
    width: 100%;
  }
}

.blog__html {
  @media(max-width: 768px) {
    * {
      width: 100% !important;
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
  }
}

.checkout {
  .v-input__slot {
    box-shadow: none !important;
    border: 1px solid #DEE2E6;
  }
}

@media (min-width: 1904px) {
  .container {
    max-width: 1185px !important;

    &--fluid {
      max-width: 100% !important;
    }
  }
}

.filter__name {
  .v-input__slot {
    box-shadow: none !important;
    border: 1px solid #E9E9E9;
  }
}

input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.dealsImage {
  overflow: hidden !important;
  height: auto !important;
  width: auto !important;

  &__content {
    width: 100%;
    height: 100%;
  }

  &__img {
    max-height: 90vh;
    max-width: 90vw;
    height: auto;
    width: auto !important;
  }
}

.toasted-container.top-right {
  right: 2% !important;
  top: 2% !important;

  @media(max-width: 768px) {
    top: 90px !important;
    left: 2%;
    width: 96%;
    min-width: 96%;
  }
}

.header__search.new {
  .v-input__slot {
    color: #fff;
    background: transparent !important;
    box-shadow: none !important;

    .v-icon, input, label {
      color: #fff !important;
    }

    input, label {
      padding-left: 10px !important;
      font-size: 18px;
      margin-top: -2px;

      @media(max-width: 1024px) {
        font-size: 14px;
      }
    }
  }
}

.facts {

  .v-list-group__header {
    height: 100px;
    display: flex;
    align-items: center;

    .v-list-item__title {
      color: #21AA5B;
      font-weight: 700;
      font-size: 20px;
    }
  }

  .v-list-group {
    border-top: 1px solid #B1B1B1;

    &:last-of-type {
      border-bottom: 1px solid #B1B1B1;
    }
  }

  .v-list-item {
    padding-left: 0 !important;
  }

  .v-list-item__title {
    font-size: 18px;
  }

  .v-icon {
    color: #21AA5B !important;
    font-size: 36px !important;
  }
}

.mobileMenu.new {
  .mobileMenu__nav-item {
    .v-expansion-panel-header {
      padding: 0 !important;
      height: auto !important;
      min-height: auto !important;
    }

    .v-expansion-panel-header--active {
      .mobileMenu__nav-item--title {
        color: #21AA5B !important;
      }

      i {
        color: #21AA5B !important;
      }
    }

    .v-expansion-panel-content__wrap {
      padding: 22px 10px 0;
    }
  }
}
